html, body {
    margin: 0px;
    padding: 0px;

    /* move text under navbar */
    padding-top: 2rem;
}

/* Main nav link animation */
@keyframes linkAnimation {
    0% {
        padding-left: 0px;
    }

    50% {
        padding-left: 5px;
    }

    100% {
        padding-left: 0px;
    }
}

/* Header transitions - size, opacity */
header .navbar {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    transition: all .3s;
    padding: .8rem;
}

header .navbar.scrolled {
    opacity: .95;
    padding: 0;
}

header .navbar-nav .nav-item {
    padding: 0 .5rem;
    transition: all .4s;
    width: 125px;
}

    .nav-item .nav-link:hover > span {
        animation-name: linkAnimation;
        animation-duration: .4s;
    }

/* Main section style */
section.slider {
    margin: 0rem auto 2rem auto;
    background: #f0f0f0;
}

    #main-slider .carousel-indicators {
        bottom: 2rem;
    }

    #main-slider .carousel-caption {
        bottom: 4rem;
    }

    #main-slider .carousel-item {
        padding: 2rem 0;
    }

/* Our target */
section.our-target .our-targetour-target__info {

}

    .our-target__info .card .card-header {
        position: relative;
    }

    .our-target__info .card .card-header > .card-header__icon-holder {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 6rem;
        height: 6rem;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 10rem;
    } 

/* Fakty */
/* Contact */
.facts,
.contact {
    background: #f0f0f0;
}

.contact .card-body .card-header h5 button {
    text-transform: uppercase;
    text-decoration: none;
}

.contact .card-body .card-header h5 button.btn-link,
.contact .card-body .card-header h5 button.btn-link:hover {
    color: #666;
}

.contact .row + .row form {
    height: 100%;
}

/* Footer */
.footer .footer__head {
    background: #333333;
    padding: 1rem 0;
}

.footer .footer__head .footer__head--goUp {
    cursor: pointer;
}

.footer .footer__main {
    background: #202020;
}

.footer .footer__main ul {
    padding: 2rem 0;
    list-style-type: none;
}

.footer .footer__main ul li {
    display: inline-block;
}

.footer .footer__main .footer__main--links {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    transition: all .3s;
    padding: .8rem;
    text-align: right;
}

.footer .footer__main .footer__main--links li {
    padding: 0 .5rem;
    transition: all .4s;
    width: 125px;
    text-align: right;
}

.footer .footer__main .footer__main--links li a {
    color: rgba(255,255,255,.5);
}

.footer .footer__main .footer__main--links li a:hover {
    text-decoration: none;
}

.footer .footer__main .footer__main--links li a:hover > span {
    animation-name: linkAnimation;
    animation-duration: .4s;
    color: rgba(255,255,255,.75);
}

.footer .footer__main .footer__main--social li {
    padding-right: 1rem;
    opacity: .7;
    cursor: pointer;
}

.footer .footer__main .footer__main--social li:hover {
    padding-right: 1rem;
    opacity: 1;
}

@media ( max-width: 992px ) {
    .footer .footer__main ul {
        padding: 2rem 0px 0px 0px;
    }
    
    footer .footer .footer__main--social > ul {
        text-align: center;
    }

    footer .footer .footer__main--links > ul {
        text-align: center;
        padding-top: 0px;
    }

    .footer .footer__main .footer__main--links > ul li {
        padding: .5rem 0;
        display: block;
        width: auto;
        text-align: center;
    }
}

@media ( max-width: 577px ) {
    /* Teams */
    .team .team__bio {
        text-align: center;
    }

    .team .text-muted {
        padding: 1rem 0;
    }

    .team .separator {
        border-bottom: 1px solid #dedede;
        margin: 1rem auto;
        height: 1px;
        width: 80%;
    }
}